<% provide(:title, 'Bluems on the web') %>
<header></header>
<div class="wrapper">
  <div class="content">
    <div class="logo"><%= image_tag 'logo.png' %></div>
    <h1 style="opacity: 0">Bluems</h1>
    <div class="news">
      <dl>
        <dt>初の全国流通盤リリース！</dt>
        <dd>
          <p class="description"><br /><br />

            1st mini album「恋について」<br />
            2018.12.12 Release<br /><br />

            価格：¥1,500+税<br />
            品番：LACD-0296<br /><br />
          </p>
          <div class="">
            <%= image_tag 'Bluems_Koinitsuite_JKT.jpg' %>
          </div>
          <div class="songlist">
            <p><br /><br />

              収録曲<br />
              1. それは涙じゃなくて<br />
              2. ペーパータウン<br />
              3. 恋人たち<br />
              4. 週末のフール<br />
              5. 恋について<br /><br />

            </p>
          </div>
        </dd>
      </dl>
    </div>
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/GaacaQ34NFg" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="schedule">
      <h2 style="letter-spacing: 5px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.5   , 1 );">Live Info</h2>
      <div class="flyer">
        <%= image_tag 'flyer/181107-mona.jpg' %>
      </div>
      <a href="http://www.mona-records.com/live/2018/11/live_110718.php" style="text-decoration: none;">
        <dl>
          <dt><date>2018.11.07 Wed.</date></dt>
          <dd class="info">
            <p class="top">@下北沢 mona records</p>
            <p class="top">『New Notice Night vol.35』</p>
            <p class="top">共演：ラヴミーズ, The Shiawase, フルー, 歌の京</p>
            <hr class="dots" />
            <p class="bottom">open 18:30</p>
            <p class="bottom">Adv ¥2,000+D</p>
          </dd>
        </dl>
      </a>
      <div class="flyer">
        <%= image_tag 'flyer/181210-three.jpg' %>
      </div>
      <dl>
        <dt><date>2018.12.10 Mon.</date></dt>
        <dd class="info">
          <p class="top">@下北沢THREE</p>
          <p class="top">『Birthday vol.15』</p>
          <p class="top">共演：コタン, ゆうれいのいのち, ラヴミーズ, Uptown</p>
          <hr class="dots"/>
          <p class="bottom">open 18:30 start 19:00</p>
          <p class="bottom">Adv ¥1,500+D</p>
          <p class="bottom">Door ¥2,000+D</p>
          <p class="bottom">Student ¥1,000 ※要学生証</p>
        </dd>
      </dl>
      <div class="flyer">
        <%= image_tag 'flyer/181222-mona.jpg' %>
      </div>
      <a href="http://www.mona-records.com/live/2018/12/live_122218.php" style="text-decoration: none;">
        <dl>
          <dt><date>2018.12.22 Sat.</date></dt>
          <dd class="info">
            <p class="top">@下北沢 mona records</p>
            <p class="top">『Bluems「恋について」発売記念公演 「すてきなＮにんぐみ」』</p>
            <p class="top">共演：evening cinema, Laura day romance, and more...</p>
            <hr class="dots"/>
            <p class="bottom">open 18:30 start 19:00</p>
            <p class="bottom">Adv ¥2,000+D</p>
            <p class="bottom">Door ¥2,500+D</p>
          </dd>
        </dl>
      </a>
    </div>
    <div class="sns">
      <dl>
        <dd><a href="https://twitter.com/Bluems_band"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i><%= image_tag 'twitter.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.instagram.com/bluems.band/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i><%= image_tag 'instagram.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.facebook.com/bluems.band/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i><%= image_tag 'facebook.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.youtube.com/channel/UC2UwjZIHvPfkONpcJYVTO_g"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i><%= image_tag 'youtube.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="mailto:bluems.band@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><%= image_tag 'mail.png' %></a>
        </dd>
      </dl>
      <div class="mail-address">
        <span>bluems.band@gmail.com</span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">Copyright(C) 2018 www.bluems.tokyo All Rights Reserved.</div>
</footer>
