<% provide(:title, 'Bluems on the web') %>
<header></header>
<div class="wrapper">
  <div class="content">
    <div class="logo"><%= image_tag 'bluems-logo.png' %></div>
    <h1 style="opacity: 0">Bluems</h1>
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6wx2WaClU8U" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="schedule">
      <h2 style="letter-spacing: 5px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.5   , 1 );">Live Info</h2>
      <dl>
        <dt><date>2018.05.03 Thu. (public holiday)</date></dt>
        <dd class="info">
          <p>@下北沢 mona records</p>
          <p>『はじめちゃんpresents.「最高な日!!」』</p>
          <p>共演：CANDY, YMB, Youmentbay</p>
          <p>open 18:00 start 18:30 </p>
          <p>Adv ¥2,000(+1D)</p>
        </dd>
      </dl>
      <dl>
        <dt><date>2018.05.18 Fri.</date></dt>
        <dd class="info">
          <p>@新宿SAMURAI</p>
          <p>『irodori vol.1』</p>
          <p>共演：Agjijer, アカネノ, yeti let you notice, 羊の群れは笑わない。</p>
          <p>Adv ¥2,400(+1D)</p>
          <p>(高校生以下2000円)</p>
        </dd>
      </dl>
    </div>
    <div class="sns">
      <dl>
        <dd><a href="https://twitter.com/Bluems_band"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i><%= image_tag 'twitter.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.instagram.com/bluems.band/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i><%= image_tag 'instagram.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.facebook.com/bluems.band/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i><%= image_tag 'facebook.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.youtube.com/channel/UC2UwjZIHvPfkONpcJYVTO_g"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i><%= image_tag 'youtube.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="mailto:bluems.band@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><%= image_tag 'mail.png' %></a>
        </dd>
      </dl>
      <div class="mail-address">
        <span>bluems.band@gmail.com</span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">Copyright(C) 2018 www.bluems.tokyo All Rights Reserved.</div>
</footer>
