<% provide(:title, 'Bluems on the web') %>
<header></header>
<div class="wrapper">
  <div class="content">
    <div class="logo"><%= image_tag 'logo.png' %></div>
    <!-- /*/*<div class="logo" style="letter-spacing: 9px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.6   , 1 );>Bluems</div>*/*/ -->
    <h1 style="opacity: 0">Bluems</h1>
    <!-- <div class="news">
      <dl>
        <dt><date>2016.08.11 Thu</date></dt>
        <dd class="news">
          最新のお知らせ
        </dd>
    </div> -->
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6wx2WaClU8U" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="schedule">
      <h2 style="letter-spacing: 5px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.5   , 1 );">Live Info</h2>
      <dl>
        <dt><date>2017.06.08 Thu.</date></dt>
        <dd class="info">
          <p>@下北沢THREE</p>
          <p>『Birthday Vol.5』</p>
          <p>共演：I Saw You Yesterday, RUNRUNRUNS, 水いらず, 東京パピーズ</p>
          <p>open 18:30 start 19:00 </p>
          <p>Adv ¥1,500(+1D)</p>
          <p>Door ¥2,000(+1D)</p>
        </dd>
      </dl>
    </div>
    <div class="sns">
      <dl>
        <dd><a href="https://twitter.com/Bluems_band"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i><%= image_tag 'twitter.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.instagram.com/bluems.band/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i><%= image_tag 'instagram.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.facebook.com/bluems.band/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i><%= image_tag 'facebook.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.youtube.com/channel/UC2UwjZIHvPfkONpcJYVTO_g"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i><%= image_tag 'youtube.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="mailto:bluems.band@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><%= image_tag 'mail.png' %></a>
        </dd>
      </dl>
      <div class="mail-address">
        <span>bluems.band@gmail.com</span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright"><%= image_tag 'copyright.png' %></div>
</footer>
