<% provide(:title, 'Bluems on the web') %>
<header></header>
<div class="wrapper">
  <div class="content">
    <div class="logo"><%= image_tag 'bluems-logo.png' %></div>
    <h1 style="opacity: 0">Bluems</h1>
    <div class="news">
      <dl>
        <dt style="text-align: center;padding-top: 12px;">
          <date>2017.07.24 Mon</date>
        </dt>
        <dd>
          <p>
            いつもBluemsを応援していただいている方々へ<br/><br/>

            8/4（土）の下北沢GARAGEのライブをもちましてギター・コーラス担当の山中卓人が脱退することになりました。<br/><br/>

            以下、山中卓人からのメッセージです。<br/><br/>

            ----------------------------------------------------------<span class="sp">----------------------</span><br/>
            2年半このバンドでやってきて、思い出すと色々な経験をしたし楽しいこと沢山ありました。<br/>
            Bluemsで演奏するのが次で最後だと思うと寂しいのですが、それぞれ音楽は続いていくので、<br/>
            またどこかで一緒にやれる日を楽しみにしたいと思います！<br/>
            ありがとうございました！<br/><br/>

            山中卓人（Gt/Cho）<br/>
            ----------------------------------------------------------<span class="sp">----------------------</span><br/><br/>

            たくさん話し合った上での結果なので、悔いなくそれぞれの道を進んでいきます。<br/>
            メッセージにもある通り彼は音楽を続けていくのでそちらも気にしていただけたら幸いです。<br/><br/>

            Bluemsは少しの充電期間をとって活動を継続していきます。<br/>
            3人での形を模索しながら前を向いて、また良い曲をたくさん作っていく所存です。
            リリースも予定しているのでそちらも楽しみにしていてください！<br/><br/>

            4人での最後のライブは8/4（土）下北沢GARAGEになります。<br/><br/>

            これからもよろしくお願い致します。<br/><br/>

          </p>
        </dd>
        <dt  style="text-align: center;padding-bottom: 12px;">Bluems一同</dt>
      </dl>
    </div>
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6wx2WaClU8U" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="schedule">
      <div class="flyer">
        <img src="/assets/flyer/S__12337293.jpg">
      </div>
      <h2 style="letter-spacing: 5px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.5   , 1 );">Live Info</h2>
      <a href="http://www.garage.or.jp/13426">
        <dl style="height: 335px">
          <dt><date>2018.08.04 Sat.</date></dt>
          <dd class="info">
            <p>@下北沢 mona records</p>
            <p>『ジオラマラジオ × GARAGE presents ZOMBIE CASSETTE release party “peppermint weekend vol.1"』</p>
            <p>共演：ジオラマラジオ, バスクのスポーツ and more!!</p>
            <p>DJ：TOMMY (BOY), YUJI ANDO (golf)</p>
            <p>open 18:30 start 19:00 </p>
            <p>Adv ¥2,000</p>
            <p>Door ¥2,300</p>
            <p>Student ¥1,500</p>
          </dd>
        </dl>
      </a>
    </div>
    <div class="sns">
      <dl>
        <dd><a href="https://twitter.com/Bluems_band"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i><%= image_tag 'twitter.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.instagram.com/bluems.band/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i><%= image_tag 'instagram.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.facebook.com/bluems.band/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i><%= image_tag 'facebook.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.youtube.com/channel/UC2UwjZIHvPfkONpcJYVTO_g"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i><%= image_tag 'youtube.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="mailto:bluems.band@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><%= image_tag 'mail.png' %></a>
        </dd>
      </dl>
      <div class="mail-address">
        <span>bluems.band@gmail.com</span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">Copyright(C) 2018 www.bluems.tokyo All Rights Reserved.</div>
</footer>
