<% provide(:title, 'Bluems on the web') %>
<header></header>
<div class="wrapper">
  <div class="content">
    <div class="logo"><%= image_tag 'logo.png' %></div>
    <!-- /*/*<div class="logo" style="letter-spacing: 9px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.6   , 1 );>Bluems</div>*/*/ -->
    <h1 style="opacity: 0">Bluems</h1>
    <div class="news">
      <dl>
        <dt><date>2017.07.24 Mon</date></dt>
        <dd class="news">
            <p>
                いつもBluemsを気にしてくれている方々へ<br /><br />

                バンドからキーボード担当の中村直人が脱退することになりました。<br /><br />

                突然の報告になってしまい申し訳ありません。<br /><br />

                悲しい別れではなくこれから互いにより良い道を歩むための選択をしました。<br /><br />

                最後のライブは8/28（月）の渋谷LUSH公演になります。<br /><br />

                中村からコメントは以下になります。<br /><br />

                ----------------------------------------------------------<span class="sp">----------------------</span><br />
                僕に携わってくださったみなさま。<br />
                おかげさまで最高にハイなバンド活動ができました。<br />
                これからもBluemsをどうぞよろしく。<br />

                中村直人<br />
                ----------------------------------------------------------<span class="sp">----------------------</span><br /><br />

                合わせて5人で録音した「初恋みたいに」のビデオを公開しました。<br /><br />

                <a href="https://youtu.be/SyvudKpGQNY" target="_blank" style="color: white;">https://youtu.be/SyvudKpGQNY</a><br /><br />

                これからBluemsは4人で活動していきます。<br /><br />
                新体制での初ライブは9/3（日）の新代田FEVER公演です。<br /><br />

                これからもよろしくお願いいたします。<br /><br />

                Bluems一同<br />
            </p>
        </dd>
    </div>
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6wx2WaClU8U" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="schedule">
      <h2 style="letter-spacing: 5px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.5   , 1 );">Live Info</h2>
      <dl>
        <dt><date>2017.08.28 Mon.</date></dt>
        <dd class="info">
            <p>@渋谷LUSH</p>
            <p>『JACKSON kaki pre. LIVING ROOM Vol.3』</p>
            <p>共演：YOOKs, Downtown Market, Minato, and more! / DJ JACKSON kaki, ツタヤくん</p>
            <p>Adv ¥2,000(+1D)</p>
            <p>Door ¥2,500(+1D)</p>
            <p>20歳未満 ¥1,000(+1D) ※要身分証明書</p>
        </dd>
      </dl>
      <dl>
        <dt><date>2017.09.03 Sun.</date></dt>
        <dd class="info">
            <p>@新代田FEVER</p>
            <p>『Lastrum主催 ニューカマー発見伝 決勝ライブ』</p>
            <p>共演：ザ・モアイズユー, Rollo and Leaps, Mankind Rhythms, レルエ, 浪漫革命</p>
            <p>open 15:00 start 15:30 </p>
            <p>¥500(+1D)</p>
        </dd>
      </dl>
    </div>
    <div class="sns">
      <dl>
        <dd><a href="https://twitter.com/Bluems_band"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i><%= image_tag 'twitter.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.instagram.com/bluems.band/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i><%= image_tag 'instagram.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.facebook.com/bluems.band/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i><%= image_tag 'facebook.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.youtube.com/channel/UC2UwjZIHvPfkONpcJYVTO_g"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i><%= image_tag 'youtube.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="mailto:bluems.band@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><%= image_tag 'mail.png' %></a>
        </dd>
      </dl>
      <div class="mail-address">
        <span>bluems.band@gmail.com</span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright"><%= image_tag 'copyright.png' %></div>
</footer>
