<% provide(:title, 'Bluems on the web') %>
<header></header>
<div class="wrapper">
  <div class="content">
    <div class="logo"><%= image_tag 'bluems-logo.png' %></div>
    <h1 style="opacity: 0">Bluems</h1>
    <div class="news">
      <dl>
        <dd>
          <p><br/><br/>
            ■リリース情報<br/>
            Bluems<br/>
            両A面配信シングル「ペーパータウン / 恋人たち」<br/>
            2018.09.07 Release<br/><br/>

            <%= image_tag 'bluems-background-1809.jpg' %>

            ■LISTEN<br/>
            <a href="http://open.spotify.com/album/1cagqatK1llSmslB60lqQr">Spotify</a><br/>
            <a href="https://itunes.apple.com/jp/album/1433883948?l=ja&ls=1">Apple Music</a><br/>
            <a href="https://www.youtube.com/playlist?list=PLy8zDrFcCuEGSM5EXocrtXF4hQhOJZ8Qi">YouTube</a><br/><br/>

            ■DOWNLOAD<br/>
            <a href="https://itunes.apple.com/jp/album/1433883948?l=ja&ls=1&app=itunes">iTunes</a><br/><br/>

            ■コメント<br/>
            Bluemsの大塚真太朗です。<br/><br/>

            「ペーパータウン」と「恋人たち」、満足のいく2曲ができました。<br/><br/>

            どちらも名刺代わりになるような曲になったからずっと応援してくれてる人（いつもありがとう！）にも、これから出会う人（初めまして！）にも聴きまくってほしいな〜、と思ってます。<br/><br/>

            「ペーパータウン」を作曲したのはこの前バンドを離れた卓人です。別々の道を進むことになった後にリリースすることは少し迷ったけど、紛れもなくBluemsの大事な1曲なので発表することにしました。<br/><br/>

            まだまだ聴いてもらいたい曲がたくさんあるけれど、今は「ペーパータウン / 恋人たち」を夏の終わりのお供にどうぞ。<br/><br/>

          </p>
        </dd>
        <dt  style="text-align: center;padding-bottom: 12px;">Bluems一同</dt>
      </dl>
    </div>
    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6wx2WaClU8U" frameborder="0" allowfullscreen></iframe>
    </div>
<!--    <div class="schedule">-->
<!--      <div class="flyer">-->
<!--        <%#= image_tag 'flyer/S__12337293.jpg' %>"-->
<!--      </div>-->
<!--      <h2 style="letter-spacing: 5px; font-weight: lighter; font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic'; transform: scale( 1.5   , 1 );">Live Info</h2>-->
<!--      <a href="http://www.garage.or.jp/13426">-->
<!--        <dl style="height: 335px">-->
<!--          <dt><date>2018.08.04 Sat.</date></dt>-->
<!--          <dd class="info">-->
<!--            <p>@下北沢 mona records</p>-->
<!--            <p>『ジオラマラジオ × GARAGE presents ZOMBIE CASSETTE release party “peppermint weekend vol.1"』</p>-->
<!--            <p>共演：ジオラマラジオ, バスクのスポーツ and more!!</p>-->
<!--            <p>DJ：TOMMY (BOY), YUJI ANDO (golf)</p>-->
<!--            <p>open 18:30 start 19:00 </p>-->
<!--            <p>Adv ¥2,000</p>-->
<!--            <p>Door ¥2,300</p>-->
<!--            <p>Student ¥1,500</p>-->
<!--          </dd>-->
<!--        </dl>-->
<!--      </a>-->
<!--    </div>-->
    <div class="sns">
      <dl>
        <dd><a href="https://twitter.com/Bluems_band"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i><%= image_tag 'twitter.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.instagram.com/bluems.band/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i><%= image_tag 'instagram.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.facebook.com/bluems.band/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i><%= image_tag 'facebook.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="https://www.youtube.com/channel/UC2UwjZIHvPfkONpcJYVTO_g"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i><%= image_tag 'youtube.png' %></a></dd>
      </dl>
      <dl>
        <dd><a href="mailto:bluems.band@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><%= image_tag 'mail.png' %></a>
        </dd>
      </dl>
      <div class="mail-address">
        <span>bluems.band@gmail.com</span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">Copyright(C) 2018 www.bluems.tokyo All Rights Reserved.</div>
</footer>
